ul{
	padding: 0 !important;
}
.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
	padding: 0 32px;
}
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
  padding: 0 64px;
}
.side-nav .userView .circle {
  height: 100px;
  width: 100px;
}
nav{
	position: fixed;
	top: 0;
	z-index: 10000000;
}

ul.side-nav{
	margin-top: 64px !important;
}
a.brand-logo{
	padding-left: 15px;
	font-size: 1.5rem;
}

@media only screen and (min-width : 992px) {
  	a.button-collapse.show-on-large{
		display: none !important;
	}
}
a.dropdown-button{
	float: right !important;
	margin: 5px 18px;
}

@media only screen and (max-width : 992px){
	.side-nav{
		height: 86% !important;
	}
}

@media only screen and (max-width : 1095px) and (min-width : 991px) {
	.side-nav{
		height: 88% !important;
	}
}

@media only screen and (max-width : 1249px) and (min-width : 1094px) {
	.side-nav{
		height: 90% !important;
	}
}