header, main, footer {
  padding-left: 300px;
  padding-top: 70px; 
}

@media only screen and (max-width : 992px) {
  body, header, main, footer{
  padding-left: 0;
	margin-left: 0;
  }
  body{
  overflow: scroll;
	}
}